$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

body {
    font-family: 'Open Sans', sans-serif;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.login {
    span {
        cursor: pointer;
    }
}

.view-content {
    margin-top: 64px;

    .masthead {
        h1 {
            font-size: 100px;
        }
        p {
            font-size: 30px;
        }
    }
}

ul {
    li {
        list-style: none;
    }
}