<div class="masthead">
  <h1 class="text-center">Geek Night <small>Chennai</small></h1>
  <p class="text-center">an open forum for geeks to connect, discuss & learn latest ideas, technologies and trends in software development</p>
</div>

<div>
  <ul class="nav nav-tabs nav-justified">
	<li ng-repeat="tab in tabs" ng-class="{'active': $index == selectedTabIndex}"><a ng-click="switchTab($index)">{{tab}}</a></li>
  </ul>
  <div class="content" ng-show="when">
	{{event.Date}}
  </div>
  <div class="content" ng-show="where">
	ThoughtWorks Technologies, Ascendas IT Park, Zenith, 9th Floor.
  </div>
  <div class="content" ng-show="what">
	<ul>
		<li ng-repeat="item in event.agenda">
			{{item.time}} | {{item.title}} |
			<a href="{{item.presenter.contact}}">{{item.presenter.name}}</a>
			<ul>
				<li ng-repeat="link in item.resources">
					<a href="{{link.location}}">{{link.title}}</a>
				</li>
			</ul>
		</li>
	</ul>
  </div>
</div>